body {
  margin: 0;
  background-color: #e5e5e5;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.App {
  padding: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 1.5em;
}

.quote {
  font-size: 1.5rem;
  display: flex;
  width: 60vw;
  margin: 0 auto;
  align-items: center;
  height: 60vh;
}

.author {
  margin-top: 0;
}

.calculator-div {
  display: flex;
  justify-content: space-between;
}

.calculator-text {
  margin: 3em 1em;
  font-size: 3em;
}

.calculator {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #2b28284f;
  color: #fff;
  font-size: 2.5rem;
  word-wrap: break-word;
}

.orange {
  background-color: #ff893a;
}

button {
  border: 1px solid #e5e5e5;
}

.home > p {
  font-size: 1.3em;
  text-align: justify;
}

.paragraph {
  display: flex;
}

.link:visited {
  color: #000;
}

.link:hover {
  color: #9215b8;
}

.link:active,
.link:active:visited {
  color: #f72f2f;
}

.link:hover:visited {
  color: #9215b8;
}
